* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

body {
  background-color: black;
}

.navbar {
  background-color: white;
  color: black;
}
.nav-link,
.h3 {
  color: black;
}
.bg-container-1 {
  background-image: url('./imgs/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Escurecimento */
  z-index: 1;
}

.z-2 {
  position: relative;
  z-index: 2; /* Mantém o texto acima da camada de escurecimento */
}

.btn {
  width: 150px;
  position: relative;
}

.card-header {
  background-color: #be3100;
}

.card {
  border: none;
}

.bg-container-2 {
  background-color: #be3100;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  color: white;
  position: relative;
  overflow: hidden;
}

.beneficio_container {
  align-items: center;
}

.planos {
  margin: 15px;
}
.planos-text {
  color: white;
}
.card-planos {
  border: none;
  min-height: 300px;
  margin-bottom: 20px;
}

.card-header {
  color: white;
}
.beneficio {
  height: 2rem;
  width: auto;
  object-fit: contain;
}

.icons {
  width: 40px;
  height: auto;
}

.icon-totalpass {
  width: 200px;
}
.contato .card {
  color: white;
  font-size: 20px;
  background-color: black;
  margin-bottom: 0px;
}
.icone-branco {
  filter: invert(1) brightness(2);
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}
.footer {
  color: white;
  background-color: #be3100;
  margin: 0px;
  padding-top: 15px;
  border-radius: 5px 5px 0 0;
}

.logo {
  height: 50px;
  width: auto;
  margin-left: 70%;
}

@media (min-width: 360px) {
  .card-contato {
    border-bottom: 1px solid grey;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    margin: 5px 0 0 0;
    width: 100%;
    text-align: center;
  }

  .navbar .navbar-toggler,
  .navbar .h3 {
    margin: 0 auto;
    text-align: center;
  }
}
