body {
  background-color: #33242b;
}

.navbar {
  background-color: white;
  color: black;
}
.nav-link,
.h3 {
  color: white;
}
.bg-container-1 {
  background-image: url('./imgs/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Escurecimento */
  z-index: 1;
}

.z-2 {
  position: relative;
  z-index: 2; /* Mantém o texto acima da camada de escurecimento */
}

.btn {
  width: 150px;
  position: relative;
}

.card-header {
  background-color: #ff9317;
}

.bg-container-2 {
  background-color: #ff9317;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  color: white;
  position: relative;
  overflow: hidden;
}

.beneficio_container {
  align-items: center;
}

.beneficio {
  height: 2rem;
  width: auto;
  object-fit: contain;
}

.icons {
  width: 40px;
  height: auto;
}

.icone-branco {
  filter: invert(1) brightness(2); /* Inverte a cor e aumenta o brilho */
}
.cor-vemelha {
  background-color: #ff006f;
}
.footer {
  color: white;
}

.logo {
  height: 50px;
  width: auto;
  margin-left: 70%;
}
